.signUpForm {
  align-items: center;
  background-color: var(--neutral-white);
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 8px 4px 0px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}

.input {
  border: 1px solid var(--neutral-grayish-blue);
  border-radius: 4px;
  padding: 16px 0;
  width: 100%;
}

.input input {
  border: none;
  color: var(--neutral-dark-blue);
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.02rem;
  padding-left: 16px;
  width: 100%;
}

.input input:focus-visible {
  outline: none;
}
