* {
  box-sizing: border-box;
  margin: 0;
}

:root {
  --accent-blue: hsl(248, 32%, 49%);
  --neutral-dark-blue: hsl(249, 10%, 26%);
  --neutral-grayish-blue: hsl(246, 25%, 77%);
  --neutral-white: hsl(249, 100%, 100%);
  --primary-green: hsl(154, 59%, 51%);
  --primary-red: hsl(0, 100%, 74%);
}

html, body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  padding: 0;
  width: 100vw;
}

body {
  background: url('/public/images/bg-intro-mobile.png') center/contain, var(--primary-red);
  background-size: contain;
}

main {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 327px;
  padding: 16px 0;
}